body {
  background-color: #fafafa;
  color: #868686;
  text-shadow: -1px 0px 0 #ffffff;
}
#picContainer {
  z-index: 10;
}
#pic {
  transform-origin: right top;
  border-radius: 50%;
  border: 0.9em solid #fafafa;
  box-shadow: 3px 0 1em rgba(0, 0, 0, 0.1);
}
#bio {
  transform-origin: center top;
  padding-top: 1rem;
  z-index: 2;
}
h1 {
  transform-origin: left top;
}
#masthead {
  padding: 10px 20px;
  display: inline-block;
}
nav {
  position: fixed;
  width: 100%;
  z-index: 101;
  background-color: #26a977;
  border-bottom: 1px solid #269263;
  text-shadow: -1px 0 0 #269263;
}
nav ul {
  margin-bottom: 0;
  padding-left: 0;
}
nav a {
  color: white;
  opacity: .9;
}
nav a:active,
nav a:focus,
nav a:hover {
  text-decoration: none;
  opacity: 1;
  color: white;
}
nav li {
  padding: 10px 20px;
  display: inline-block;
  float: none;
}
#header {
  text-shadow: -1px 0 0 #269263;
  background-color: #26a977;
  color: #fafafa;
  z-index: 5;
}
#header:before {
  content: "";
  position: absolute;
  top: -999px;
  bottom: 0;
  left: -9999px;
  right: 0;
  border-left: 9999px solid #26a977;
  border-bottom: 1px solid #269263;
  box-shadow: 9999px 0 0 #26a977;
  background-color: #26a977;
}
#about {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  margin-bottom: 0px;
  padding-bottom: 10px;
}
#name h1 {
  transform-origin: bottom left;
}
#email {
  position: relative;
  z-index: 100;
}
#cv_title {
  position: fixed;
  top: 33px;
  left: inherit;
  font-size: 4rem;
}
#cv {
  margin-top: -40vh;
}
#cv header {
  border-bottom: 1px solid #e4e4e4;
  margin: 1em auto .5em;
  padding: .2em 0;
}
#menu {
  float: right;
}
#publications {
  min-height: calc(35vh);
}
@media (min-width: 768px) {
  #about {
    width: 750px;
  }
}
@media (min-width: 992px) {
  #about {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  #about {
    width: 1170px;
  }
}
@media (min-width: 768px) {
  #about > * {
    width: 750px;
  }
}
@media (min-width: 992px) {
  #about > * {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  #about > * {
    width: 1170px;
  }
}
#about > * {
  margin: auto;
  z-index: 100;
}
body {
  font-size: 18px;
}
#mobile_cv_title {
  font-size: 45px;
}
h1 {
  font-size: 6rem;
}
@media (max-width: 767px) {
  h1 {
    font-size: 4rem;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }
}
.aboutInitial #email {
  clear: both;
  font-size: 40px;
}
.aboutInitial #cvHeader {
  display: none;
}
.aboutCollapsed header h1 {
  font-size: 1em;
  float: none;
}
.aboutCollapsed #email {
  clear: both;
  font-size: 1em;
}
.aboutCollapsed #cvHeader {
  display: inline;
  font-size: 48px;
}
.aboutCollapsed {
  height: 10%;
}
#publications a {
  display: none;
}
#cv {
  clear: both;
}
#cv header {
  font-size: 40px;
}
.slicknav_menu {
  display: none;
}
@media screen and (max-width: 40em) {
  /* #menu is the original menu */
  #menu {
    display: none;
  }
  #masthead {
    display: none;
  }
  .slicknav_menu {
    display: block;
    position: fixed;
    right: 0px;
    width: 100%;
    background-color: #26a977;
    z-index: 20000;
  }
}
